body{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #f1f1f1;
}

.color-picker-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 3rem;
}

.color-display{
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
  transition: 0.2s ease;
}

.color-display p{
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-shadow: #000 1px 1px 5px;
}

label{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

input[type="color"]{
  width: 75px;
  height: 50px;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 10px;
  cursor: pointer;
}