body{
  background-color: #d4d8dd;
}

.to-do-list{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
}

h1{
  color: #333;
  font-size: 3rem;
}
button{
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  border: 2px solid rgba(128, 128, 128, 0.452);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.5s ease;
  margin: 3px;
}

.add-btn{
  background-color: #28a745;
}
.add-btn:hover{
  background-color: #218838;
}
.del-btn{
  background-color: #dc3545;
}
.del-btn:hover{
  background-color: #c82333;
}
.move-btn{
  background-color: #ffc107;
}
.move-btn:hover{
  background-color: #e0a800;
}

input[type="text"]{
  padding: 10px;
  font-size: 1.3rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  margin-right: 10px;
}

ol{
  padding: 0;
  margin-top: 20px;
}
li{
  max-width: 80vw;
  padding: 10px;
  font-size: 1.3rem;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  margin: 0 auto 10px auto;
}
.text{
  flex: 1;
}
