.counter-container {
  text-align: center;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif;
}

.count-display {
  font-size: 100px;
  margin-bottom: 20px;
}

.counter-button {
  font-size: 25px;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 20px;
}

.counter-button:hover {
  background-color: #d4d4d4;
}